.pera {
color: blueviolet;

}
.head1
{
    color: black;
}
.head2 {
    color: aqua;
}
.head22 {
    text-align: center;
    color: blueviolet;
}
.cardh1 {
    text-size-adjust: 5px;
}